@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'Engschrift';
    src: url('../fonts/dinengschriftstd.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dinengschriftstd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dinengschriftstd.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dinengschriftstd.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dinengschriftstd.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
ul {
    list-style-type: none;
    padding-left: 0;
}
[id^="menu-primarna-navigacija"] {
    margin: 0;
}
.header_blue li {
    list-style: none;
}
html,
	body {
		margin:0;
		padding:0;
		height:100%;
		font-family:Arial, Helvetica, sans-serif;
		background:url(img/pattern.jpg);
	}
	a, img {
		outline:none;
		border:none;
		}
.font_e {
	font-family:Engschrift;
	}
	.active{
		background: #0099d2;
	}
	#container {
		min-height:100%;
		position:relative;
		width:1024px;
		margin:0 auto;
	}
	.approved {
		width:175px;
		color:#fff;
		padding:12px 0 0 0;
		font-size:14px;
		text-align:center;
		font-weight:bold;
		float:left;
		height:28px;
		font-family:Geneva, sans-serif;
		}
	.arrow_top {
		width:87px;
		float:left;
		height:38px;
		padding:2px 0 0 0;
		}
	.ce {
		padding:5px 0 0 0;
		float:left;
		width:85px;
		height:35px;
		}
	.border_app {
		float:left;
		height:40px;
		width:1px;
		background:url(img/border_app.jpg) no-repeat;
		}
	.logo {
		position:absolute;
		top:17px;
		left:21px;
		}
	#header {
		height:130px;
		position:relative;

	}
	#menu {
		position:absolute;
		top:100px;
		left:0;
		height:20px;
		width:674px;
		background:#bab8ab;
		}
	#languages {
		position:absolute;
		top:100px;
		right:0;
		width:353px;
		height:20px;
		background:#bab8ab;
		}
	#languages ul {
		margin:0;
		padding:0;
		list-style:none;
		}
	#languages ul li {
		margin:0;
		padding:0;
		float:right;
		}
	#languages ul li a {
		width:88px;
		height:20px;
		display:block;
	}
    #languages ul li a span {
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    #languages ul li img {
        display: none;
    }
    #languages ul li[id$="en"] {
        background:url(img/ENG_inactive_icon.png) no-repeat 0 0;
    }
    #languages ul li[id$="en"].wpml-ls-current-language {
        background:url(img/ENG_active_icon.png) no-repeat 0 0;
    }
    #languages ul li[id$="sr"] {
        background:url(img/SRB_inactive_icon.png) no-repeat 0 0;
    }
    #languages ul li[id$="sr"].wpml-ls-current-language {
        background:url(img/SRB_active_icon.png) no-repeat 0 0;
    }
    /*#languages ul li#menu-item-wpml-ls-23-en a {
        background-image: url('img/');
    }*/
	/*a.de {
		background:url(img/DE_inactive_icon.png) no-repeat 0 0;
		}*/
		#languages ul li span {
		width:88px;
		height:20px;
		display:block;
		}
	span.en {
		background:url(img/ENG_active_icon.png) no-repeat 0 0;
		}
	span.rs {
		background:url(img/SRB_active_icon.png);
		}
	span.de {
		background:url(img/DE_active_icon.png);
		}
	/*a.eng:hover {
		background:url(img/ENG_unactive_icon.jpg) no-repeat 0 -20px;
		}*/
	#menu menu {
		margin:0;
		padding:0;
		list-style:none;
		}
	#menu menu li {
		margin:0;
		padding:0;
		float:left;
		border-right:1px solid #f1f2ed;
		height:20px;
		font-size:14px;
		}
	#menu menu li.no_border {
		margin:0;
		padding:0;
		float:left;
		height:20px;
		font-size:14px;
		}
	#menu menu li a {
		display:block;
		height:18px;
		padding:2px 12px 0 12px;
		background:#bab8ab;
		color:#fff;
		text-decoration:none;
		position:relative;
		}
	#menu menu li a.last {
		display:block;
		height:18px;
		width:193px;
		padding:2px 0 0 0;
		text-align:center;
		background:#bab8ab;
		color:#fff;
		text-decoration:none;
		position:relative;
		z-index:9999;
		}
	#menu menu li a:hover {
		background:#0099d2;
		}
	#menu menu li ul {
			top:20px;
			padding:0;
			margin:0;
			position:absolute;
			display:none;
			list-style:none;
			z-index:9999;
			background:#bab8ab;
			}

	*+html #menu menu li ul {
    margin:0 0 0 -77px;
		}
		#menu menu li ul li {
			float:none;
			background:none;
			padding:0;
			height:21px;
			text-align:left;
			border:none;
			border-bottom:2px solid #f1f2ed;
			}
		#menu menu li ul li:last-child {

			}
		#menu menu li ul li a {
			padding:2px 13px;
			display:block;
			}
		#menu menu li ul li a:hover {
			display:block;
			background:#3089d5;
			color:#fff;

			}
		#menu menu li:hover ul{ /* Display the dropdown on hover */
			display:block; /* Bring back on-screen when needed */
		}
	.header_blue {
		position:absolute;
		top:50px;
		right:0;
		width:350px;
		height:40px;

		}
	#content {
		margin:0 0 0 0;
		padding-bottom:0;	/* Height of the footer */
	}
	#flash_slider {
		width:1024px;
		height:455px;
		margin:0 0 10px 0;
		}
	.box {
		width:327px;
		float:left;
		margin:0 10px 0 0;
		}
	.box_last {
		width:350px;
		float:left;
		margin:0 0 0 0;
		}
	.title {
		height:41px;
		border-bottom:1px solid #f1f2ec;
		}
	.ask {
		background:url(img/ask_us_module_head_eng.png) no-repeat;
		}
	.shedule {
		background:url(img/schedule_module_head_eng.png) no-repeat;
		}
	.news {
		background:url(img/news_module_head_eng.png) no-repeat;
		}
	.arrow_brown {
		position:absolute;
		top:15px;
		left:0;
		}

	.arrow_brown_sidebar {
		position:absolute;
		top:50px;
		left:0;
		}
	.text_section {
		position:relative;
		width:327px;
		height:124px;
		color:#fff;
		background:#bbb79a;
		font-size:12px;
		text-align:justify;
		}
		.text_section_blue {
			width:350px;
			height:124px;
			color:#fff;
			background:#0088ba;
			font-size:12px;
			position:relative;
			text-align:justify;
			}
		.text_section a{
			color:#fff;
			text-decoration:none;

			}
		.text_section a:hover{
			color:#0088ba;
			text-decoration:none;
			}
		.text_section_blue a{
			color:#fff;
			text-decoration:none;
			}
		.text_section_blue a:hover{
			color:#99e6fa;
			text-decoration:none;
			}
		.small_box {
			height:35px;
			border-bottom:1px solid #fff;
			margin:0 10px 15px 10px;
			position:relative;
			}
		.arrow_small{
			position:absolute;
			top:0;
			right:-25px;
			}
		.small_arrow {
			display:block;
			width:10px;
			height:27px;
			background:url(img/small_arrow.png) no-repeat 0 0;
			}
		.small_arrow:hover {
			background:url(img/small_arrow.png) no-repeat 0 -27px;
			}
		.text_box_blue {
		margin:0 auto;
		padding:20px 0 0 0;
		width:300px;
		}
	.text_box {
		position:relative;
		margin:0 auto;
		padding:20px 0 0 0;
		width:277px;
		height:90px;


		}
	.purple_arrow {
		position:absolute;
		top:20px;
		left:0;
		display:block;
		width:10px;
		height:27px;
		background:url(img/purple_arrow.png) no-repeat 0 0;
		}
	#footer {
		/*position:absolute;*/
		bottom:0;
		height:35px;/* Height of the footer */
		background:#bab8ab;
		text-align:center;
		color:#fff;
		font-size:12px;
		padding:5px 10px 0 10px;
		margin:10px 0 0 0;
		width:1004px;
	}
.top_content {
	width:1024px;
	height:130px;
	margin:0 0 0 0;
	position:static;
	}
.left_section {
	width:674px;
	float:left;
	}
.right_section {
	margin:10px 0 0 0;
	width:350px;
	float:left;
	position:relative;
	}
.osoblje {
	margin:0;
	height:27px;
	width:645px;
	color:#0088ba;
	font-size:23px;
	background:url(img/osoblje_bg.png) left bottom no-repeat;
	padding:23px 0 0 30px;
	text-transform:uppercase;
	font-family:Engschrift;
}
.news_name {
	margin:0 0 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#0088ba;
	}
.news_date_list {
	font-size:10px;
	color:#888888;
	margin:0 0 20px 0;
	}
.box_news {
		width:350px;
		margin:0 0 0 0;
		min-height:100%;
		display:block;
		}
	.text_section_news{
			width:350px;
			color:#fff;
			background-color:#0088ba;
			font-size:12px;
			position:relative;
			text-align:justify;
			padding:0 0 10px 0;
			min-height:355px;
	}
	.gallery_sidebar{
			width:350px;
			color:#fff;
			background:url(img/plava-pozadina.jpg) repeat-y;
			font-size:12px;
			position:relative;
			text-align:justify;
			padding:0 0 10px 0;
			text-decoration:none;
	}
		.text_section_news a{
			color:#fff;
			text-decoration:none;
			}
		.text_section_news a:hover{
			color:#99e6fa;
			text-decoration:none;
			}
		.small_box_image  {
			height:85px;
			border-bottom:1px solid #fff;
			margin:0 0 15px 0;
			padding:0 0 0 0;
			position:relative;
			}
		.small_box_image img {
			float:left;
			margin:0 15px 0 0;
			}
	.profil {
		padding:20px 0 20px 30px;
		width:644px;
		background:url(img/osoblje_bg.png) bottom no-repeat;
		position:relative;
		}
	.profil_image {
		width:215px;
		height:143px;
		float:left;
		padding:0 22px 0 0;
		background:url(img/profil_bg.png) right top repeat-y;
		}
	.profil_description {
		width:377px;
		padding:0 0 0 22px;
		float:left;
		color:#919191;
		line-height:20px;
		}
	.profil_description span {
		margin:23px 0 0 0;
		display:block;
		color:#0189bd;
		font-size:18px;
		}
	.text_about {
		position:relative;
		padding:20px 30px 20px 30px;
		font-size:12px;
		color:#919191;
		line-height:20px;
		text-align:justify;
		background:url(img/osoblje_bg.png) no-repeat bottom left;
		}

	.links {
		padding:20px 0 20px 30px;
		width:644px;
		background:url(img/osoblje_bg.png) bottom no-repeat;
		position:relative;
		}
	.links_image {
		width:70px;
		padding:0 22px 0 0;
		background: url(img/profil_bg.png) right top repeat-y;
		}
	.news_image_new {
		width:135px;
		padding:0 22px 0 0;
		background: url(img/profil_bg.png) right top repeat-y;
		}
	.links_description {
		width:455px;
		padding:0 0 0 22px;
		color:#919191;
		line-height:20px;
		display:table-cell;
		}
	.uppercase {
		text-transform:uppercase;
		font-size:18px;
		font-family:"Arial Narrow";
		}
	.links_description a {
		color:#0088ba;
		text-decoration:none;
		}
	.links_description a:hover {
		color:#006489;
		text-decoration:none;
		}
	.text_links {
		display:table-cell;
		vertical-align:middle;
		height:100%;
		}
	.contact {
		width:604px;
		height:452px;
		background:url(img/bg_con.jpg) no-repeat;
		padding:50px 35px 0 35px;
		position:relative;
		}
	.idvorski_box {
		margin:0;
		width:280px;
		height:452px;
		padding:50px 35px 0 35px;
		background:url(img/plava-pozadina.jpg) repeat-y;
		}
	.white_arrow {
		width:13px;
		height:41px;
		position:absolute;
		display:block;
		top:53px;
		left:0;
		background:url(img/png_arrow.png) no-repeat;
		}
	.white_arrow2 {
		width:13px;
		height:41px;
		position:absolute;
		display:block;
		top:53px;
		left:0;
		background:url(img/png_arrow.png) no-repeat;
		}
	.ask_us {
		color:#fff;
		height:143px;
		border-bottom:1px solid #fff;
		font-size:14px;
		position:relative;
		}
	.ask_new {
		color:#fff;
		height:143px;
		border-bottom:1px solid #fff;
		font-size:14px;
		position:relative;
		font-size:60px;
		}
	.ask_us span {
		margin:-10px 0 0 0;
		display:block;
		font-size:59px;
		text-transform:uppercase;
		font-family:Engschrift;
		}

		.form {
			margin:18px 0 0 0;
			border-bottom:1px solid #fff;
			padding:0 0 11px 0;
			width:604px;
			}
		*+html .form {
      	padding:0 0 0px 0;
			}
		table.contact_form {
			margin:0;
			padding:0;
			width:100%;
			}
		table.contact_form td {
			margin:0;
			padding:0 0 10px 0;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			}
		table.contact_form td textarea {
			margin:0 10px 0 0;
			padding:4px 8px;
			background:#9d9681;
			background:rgba(157,150,129,0.9);
			outline:none;
			border:1px solid #fff;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			width:332px;
			height:220px;
			resize:none;
			color:#fff;

			}
		table.contact_form td input {
			width:234px;
			height:18px;
			padding:0 0 0 10px;
			outline:none;
			border:1px solid #fff;
			background:#9d9681;
			background:rgba(157,150,129,0.9);
			color:#fff;
			}
		table.contact_form td input.obavezno {
			width:234px;
			height:18px;
			padding:0 0 0 10px;
			outline:none;
			border:1px solid #fff;
			background:rgba(157,150,129,0.9);
			color:#fff;
			}
		.btn_send_rs {
			position:absolute;
			bottom:6px;
			right:33px;
			border:none;
			width:120px;
			height:27px;
			background:url(img/posalji_rs.png) no-repeat 0 0;
			cursor:pointer;
			}
		*+html .btn_send_rs {
      	bottom:2px;
			}
		.btn_send_en {
			position:absolute;
			bottom:10px;
			right:31px;
			border:none;
			width:156px;
			height:27px;
			background:url(img/posalji_en.png) no-repeat 0 0;
			cursor:pointer;
			}
		*+html .btn_send_en {
      	bottom:2px;
			}
		.btn_send_rs:hover {
			background:url(img/posalji_hover_rs.png) no-repeat;
			}
		.btn_send_en:hover {
			background:url(img/posalji_hover_en.png) no-repeat;
			}
		.btn_send2_rs {
			position:absolute;
			bottom:4px;
			right:35px;
			border:none;
			width:245px;
			height:28px;
			background:url(img/butt_posalji2_rs.png) no-repeat 0 0;
			cursor:pointer;
			}
		.btn_send2_rs:hover {
			background:url(img/butt_posalji2_rs.png) no-repeat 0 -28px;
			}
		.btn_send2_en {
			position:absolute;
			bottom:4px;
			right:35px;
			border:none;
			width:245px;
			height:28px;
			background:url(img/butt_posalji2_en.png) no-repeat 0 0;
			cursor:pointer;
			}
		.btn_send2_en:hover {
			background:url(img/butt_posalji2_roll_over_en.png) no-repeat 0 0
			}
		.butt_preuzmi_formular_rs {
			position:absolute;
			margin: 0px 0 0px 0px;
			width:245px;
			height:28px;
			background:url(img/butt_preuzmi_formular_rs.png) no-repeat 0 0;
			cursor:pointer;
			bottom:15px;
			right:3px;
			}
		.butt_preuzmi_formular_rs:hover {
			background:url(img/butt_preuzmi_formular_rs.png) no-repeat 0 -28px;
			}
			.butt_preuzmi_formular_en {
			position:absolute;
			margin: 0px 0 0px 0px;
			width:245px;
			height:28px;
			background:url(img/butt_preuzmi_formular_en.png) no-repeat 0 0;
			cursor:pointer;
			bottom:15px;
			right:3px;
			}
		.butt_preuzmi_formular_en:hover {
			background:url(img/butt_preuzmi_formular_roll_over_en.png) no-repeat 0 0;
			}
		.labs {
		color:#fff;
		height:135px;
		border-bottom:1px solid #fff;
		font-size:14px;
		}
	.labs span {
		margin:-10px 0 0 0;
		display:block;
		font-size:40px;
		text-transform:uppercase;
		font-family:Engschrift;
		line-height:60px;
		}
	.information {
		padding:50px 0 0 0;
		color:#fff;
		height:227px;
		border-bottom:1px solid #fff;
		}
	.information a {
		color:#fff;
		}
	.information a:hover {
		color:#000;
		}
		.error {
		position: absolute;
		bottom: 3px;
		left:35px;
		background: #FCC;
		border: 1px #FC9292 solid;
		color: #CF2200;
		text-align: center;
		width: 350px;
		font-size: 14px;
		font-weight: normal;
		font-family: Trebuchet MS, Arial, sans-serif;
		padding: 5px 0;
		}
	.success {
		position: absolute;
		bottom: 3px;
		left:35px;
		color: #04a300;
		border: 1px #04a300 solid;
		background: #c0e8bf;
		text-align: center;
		width: 350px;
		font-size: 14px;
		font-weight: normal;
		font-family: Trebuchet MS, Arial, sans-serif;
		padding: 5px 0;
		}
		.error2 {
		position: absolute;
		bottom: 2px;
		left:35px;
		background: #FCC;
		border: 1px #FC9292 solid;
		color: #CF2200;
		text-align: center;
		width: 450px;
		font-size: 14px;
		font-weight: normal;
		font-family: Trebuchet MS, Arial, sans-serif;
		padding: 5px 0;
		}

	.success2 {
		position: absolute;
		bottom: 2px;
		left:35px;
		color: #04a300;
		border: 1px #04a300 solid;
		background: #c0e8bf;
		text-align: center;
		width: 450px;
		font-size: 14px;
		font-weight: normal;
		font-family: Trebuchet MS, Arial, sans-serif;
		padding: 5px 0;
		}
		.sidebar_title {
			margin: 0px 0px 0 30px;
			padding: 50px 0px 0px 0px;
			height:126px;
		}

		.calendar_box_blue {
			margin: 10px auto 0 auto;
			padding:11px  0 11px 0;
			width:280px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
		}

		.sidebar_section_news {
			width:350px;
			height: 502px;
			color:#fff;
			background:url(img/plava-pozadina1.png) no-repeat;
			font-size:12px;
			position:relative;
			text-align:justify;
			padding: 0px 0px 0 0px;
			}
			.content_container {
				width: 674px;
				height: 500px;
				background: url(img/background-pic.jpg) no-repeat;
				float: left;
				position:relative;
			}
			.sidebar_section {
				margin:0px 0 0 0;
				width:350px;
				float:left;
				position:relative;
			}
			.download_title {
				width: 167px;
				height: 17px;
				float: right;
				margin: 0px 35px 0px 0px;
				background: url(img/preuzmi_formular.jpg) 0px 0px no-repeat;
				cursor: pointer;
			}

			.download_title:hover {
				background:url(img/preuzmi_formular.jpg) 0px bottom no-repeat;
			}

			.title_content {
				width: auto;
				height: auto;
				margin: 0px 0px 55px 0px;
			}

			.content_form {
				width: 606px;
				height: 226px;
				margin: 30px auto 15px auto;
				padding: 10px 0px 30px 0px;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
			}

			.content_form textarea {
				width: 348px;
				max-width: 348px;
				height: 198px;
				max-height: 198px;
				margin: 0px 10px 10px 0px;
				padding: 4px;
				border: 1px solid #fff;
				outline: none;
				font-family: Arial;
				color:#fff;
				background:#378dab;
				background: rgba(167,167,167, 0.9);
			}

			.content_form input {
				width: 226px;
				height: 12px;
				margin: 0px 0px 10px 0px;
				padding: 4px;
				padding:2px 4px 6px 4px\9;
				border: 1px solid #fff;
				outline: none;
				background:#378dab;
				background: rgba(167,167,167, 0.9);
				color:#fff;
				font-family: Arial;
				vertical-align:middle;
				position:relative;
			}
			.content_form input.obavezno1 {
				color:#fff;
				}
			.send_form_en {
				width: 250px;
				height: 28px;
				margin: -3px 20px 10px 0px;
				background: url(img/submit-application-form_en.png) 0px 0px no-repeat;
				cursor: pointer;
			}

			.send_form_en:hover {
				background:url(img/submit-application-form_roll_over.png) 0px 0px no-repeat;
			}
			.send_form_rs {
				width: 250px;
				height: 28px;
				margin: -3px 20px 10px 0px;
				background: url(img/prilozi_popunjen_formular_roll.png) 0px 0px no-repeat;
				cursor: pointer;
			}

			.send_form_rs:hover {
				background:url(img/prilozi_popunjen_formular_roll.png) 0px -28px no-repeat;
			}

			.left_form_section {
				width: 350px;
				height: auto;
				float: left;
				margin: 0px 20px 0px 0px;
			}

			.right_form_section {
				width: 220px;
				height: auto;
				float: left;
			}
			table.table_calendar {

				text-align: center;
				width:279px;
				font-family:Engschrift;
			}
			table.table_calendar td.top {
				border-top:1px solid #0999cd;
				border-bottom:1px solid #bebca7;
				height:30px;
				width:39px;
				background:#d2d0bb;
				color:#eae8dc;
				border-left:1px solid #bebca7;
				font-size:18px;

			}
			table.table_calendar td.new {
				font-size:30px;border:none;background:none; width:216px; font-weight:normal;
				font-size:26px\9;
			}
			table.table_calendar td {
				border-top:none;
				border-bottom:1px solid #d9d8c6;
				height:30px;
				font-size:18px;
				width:39px;
				background:#f0eddc;
				border-left:1px solid #dad7c6;
				font-family:'Engschrift';
			}
			table.table_calendar td:first-child {
				border-left:none;
				}


			#gallery_title{
				margin: 0;
				height: 27px;
				width: 645px;
				color: #0088ba;
				font-size: 18px;
				background: url(img/osoblje_bg.png) left bottom no-repeat;
				padding: 23px 0 0 30px;
				text-transform: uppercase;
			}
			#gallery_content{
				position: relative;
				padding: 20px 0px 20px 17px;
				font-size: 12px;
				color: #919191;
				line-height: 20px;
				text-align: justify;
			}

			.gallery_item{
				width:162px;
				float:left;
			}

			.description{
				font-size:10px;
				color:#767676;
				line-height:13px;
				margin:0 13px 0 13px;
				padding:10px 0 11px 0;

				}

.gallery_item img{
	padding:0 13px 0 13px;
}

.gallery_row{
	background: url(img/osoblje_bg.png) no-repeat bottom left;
	height:2px;
	position:relative;
	width:666px;
	margin:0 0 20px -17px;
	clear:both;

}

.news .pagination {
    padding: 3px;
    margin: 20px 3px 20px 3px;
    text-align: center;
    font-family: Trebchet MS, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.news .pagination a {
    margin-right: 3px;
    padding: 2px 8px;
    background-position: bottom;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #828282;
    background: #FFFFFF;
    border: 1px solid #828282;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.news span.current {
    margin-right: 3px;
    padding: 2px 7px;
    font-weight: bold;
    border: 1px solid #2cabe0;
    background: #2cabe0;
    color: #fff;
    cursor: default;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.profil a {
    color: #919191;
}

.ask-us-box p {
    margin: 0;
}

.radio-and-tt p {
    margin: 0;
}

.testimonials-box p {
    margin: 0;
}

.links_description .text_links p {
    display: inline;
}

.text_box_blue .link_item .link_document {
    display: table-cell;
    vertical-align: middle;
    width: 35px;
}

.text_box_blue .link_item .link_text {
    display: table-cell;
    vertical-align: middle;
}

.text_box_blue .link_item {
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

.ritt_table .text_about th{
	vertical-align:bottom;
	line-height:auto;
	white-space: nowrap;
	text-align:center;
	color:#fff;
	background:#0088ba;
	padding:5px 10px;
}
.ritt_table .text_about td{
	border-bottom:1px #ccc solid;
	text-align:left;
	padding:10px 5px;
	line-height:16px;
	font-size:12px;
	vertical-align:top;
	color:#777;
}

.search_section_item{
    font-size: 12px;
    color:#999;
    float:left;
    width: 230px;
}

.search_holder{
    margin: 10px 0px 0px 10px;
}

.search_section_item_name{
    margin: 0px 0px 5px 0px;
}

.pagination2 .page-numbers {
    padding: 3px;
    border: 1px solid #0088ba;
    color: #0088ba;
    cursor: pointer;
    width: 15px;
    text-align: center;
    float: left;
    margin: 5px 5px 0px 0px;
}

.pagination2 span.current {
    padding: 3px;
    border: 1px solid #0088ba;
    color: #0088ba;
    cursor: pointer;
    width: 15px;
    text-align: center;
    float: left;
    margin: 5px 5px 0px 0px;
}

.header_blue img {
    width: 100%;
}

::placeholder {
   color: #ffffff;
   opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

.news_text a {
    color: #0088ba;
}

.more-info {
    display: none;
}

.page-numbers {
    padding: 3px;
    border: 1px solid #0088ba;
    color: #0088ba;
    cursor: pointer;
    width: 15px;
    text-align: center;
    float: left;
    margin: 5px 5px 0px 0px;
    text-decoration: none;
}

.pag-parent {
    overflow: hidden;
}

.pag-parent ul {
    list-style: none;
}

.pag-parent ul a {
    text-decoration: none;
    color: #0088ba;
}

.current {
    background-color: #0088ba;
    color: #FFF;
}

.ritt_table a.next {
    display: none;
}
